@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #1f2937;
}

h1 {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 24px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.hero {
    display: flex;
    justify-content: space-around;
    background: #1f2937;
    padding: 128px;
}

.container {
    width: 350px;
}

h2 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0;
}

.hero-text {
    color: #e5e7eb;
}

.hero-button {
    background: #3882f6;
    color: #f9faf8;
    border-radius: 10px;
    border: none;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 700;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 64px;
}

h3 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.panel {
    display: flex;
    flex-direction: row;
    gap: 42px;
}

.pair {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.graphic {
    border: #3882f6;
    border-style: solid;
    border-radius: 10px;
    border-width: 4px;
    height: 150px;
    width: 150px;
}

.graphic-text {
    width: 200px;
    font-size: 18px;
    text-align: center;
    color: #565d68;
}

.quote {
    display: flex;
    flex-direction: column;
    background: #e5e7eb;
    padding: 64px;
}

h4 {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    width: 825px;
    padding-left: 200px;
    margin-bottom: 0;
    color: #565d68;
}

.attribution {
    font-size: 24px;
    font-weight: 700;
    text-align: right;
    padding-right: 250px;
    color:#1f2937;
}

.cta {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #3882f6;
    border-radius: 10px;
    margin: 100px 200px;
    padding: 36px;
}

h5 {
    color:#f9faf8;
    font-size: 24px;
    margin:0;
}

.cta-subtext {
    color:#f9faf8;
    margin: 0;
}

.cta-button {
    background:#3882f6;
    padding: 10px 40px;
    border-style: solid;
    border-color:#f9faf8;
    color:#f9faf8;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
}