@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #1f2937;
}

h1 {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 24px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.hero {
    display: flex;
    justify-content: space-around;
    background: #1f2937;
    padding: 128px;
}

.container {
    width: 350px;
}

h2 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0;
}

.hero-text {
    color: #e5e7eb;
}

button {
    background: #3882f6;
    color: #f9faf8;
    border-radius: 10px;
    border: none;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 700;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-size: 36px;
    font-weight: 900;
}

.panel {
    display: flex;
    flex-direction: row;
    gap: 42px;
}

.pair {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.graphic {
    border: #3882f6;
    border-style: solid;
    border-radius: 10px;
    height: 200px;
    width: 200px;
}

.graphic-text {
    width: 200px;
}